<div class="container">
<h4>Version: <%= @version %><h4>
<h4>Data based on schedule downloaded on: 
<%= @scheduledate %>
</h4>
<p>
The information shown here is taken from the schedule on 
<%= link_to "Bluesfest" , "http://www.bluesfest.com.au" %>
 website. For the most up to date information check with the offical web site 
 <%= link_to "schedule" ,"http://www.bluesfest.com.au/pages/?parentPageId=90&PageID=177" %>
 .</p>
</div>