<div class="container">
<h2>Artists</h2>
<% if @artists.length == 0 %>
	<p> No artists added for this festival yet</p>
<% else %>
	
	<%= render partial: "artists/artistpages",  locals: {pages: @pages, active_page: @page, page_style: :page_artists}  %>
	
	<ul class="list-group">
		<%= render partial: "artists/artist", collection: @artists, locals: { favourites_style: @favourites_style}  %>
	</ul>
	
	
<% end %>
</div>