<div class="container">
<h2>Artists</h2>
<% if @artists.length == 0 %>
	<p> No artists added for this festival yet</p>
<% else %>
	<ul class="list-group">
		<%= render partial: "artist", collection: @artists, locals: {backtotop: 20} %>
	</ul>
	
<% end %>
</div>