<div class="container">
<h3><small>Name: </small><%= @user.name %>  </h3>
<h3><small>Screen Name: </small><%= @user.screen_name %></strong></h3>
<% if @user.tester == true %>
	<h3><small>Tester</small></h3>
<% end %> 
</div>