<div class="row">
	<div class="col-md-2" >
		<%= link_to "Select Artists", favadd_path('a'), class: "btn btn-primary btn-sm", role: "button" %>
	</div>
	<div class="col-md-2" >
		<span>Show my schedule for: </span>			
	</div>
	<div class="col-md-5" >
		<%= render partial: "favourites/nav_days", locals: { festivaldays: festivaldays , dayindex: dayindex}  %>		
	</div>				
	<div class="col-md-3" ></div>
</div>
