<div class="container">
	<h2>Favourites</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= render partial: "nav_header", locals: { festivaldays: @festivaldays, dayindex: 0}  %>		
		</div>
		<div class="panel-body">
			<table class="table table-bordered ">
				<thead>
						<%= render partial: "fav_header", locals: { festivaldays: @festivaldays}  %>		
				 </thead>
				 <tbody>
				 	<%= render partial: "favourite", collection: @favourites, locals: { festivaldays: @festivaldays }  %>
				 </tbody>
			</table>
		</div>
	</div>
</div>
