<% performances.each do |performance| %>
<tr>
	<td> <%= performance.starttime.strftime("%H:%M") %> </td>
	<td> 	<%= link_to performance.title, artist_path(performance.artist.id)%> 
				<%= render partial: "shared/bluelink", locals: {artist_code: performance.artist.linkid} %>		
	</td>
	<td>
   <%= render partial: "shared/duration", locals: {duration: performance.duration} %>
	<td>
</tr>
<% end %>