<table class="table table-bordered favlist">
	<tr>
		<th>Stage</th>
		<th colspan="<%= days %>">Days</th>
	</tr>
	<% stages.each do |stage| %>
	<tr id="color-<%= stage.code %>">
		<td > <%=stage.title%> </td>
		<% (1..days).each do |x| %>
			<td> <%= link_to "Day #{x}", stage_path(stage.id,x) ,class: "select" %> </td>
		<% end %>
	</tr>
	<% end %>
</table>