<div class="container">
<% if @stages.length == 0 %>
	<p> No stages setup for this festival yet</p>
<% else %>
	<%= render partial: "stageselect", locals: {days: @days, stages: @stages} %>
<% end %>


</div>