<div class="container" >
<% if @stage.nil? %>
	<h2> Unknown Stage</h2>
<% else %>
<div class="panel">
	<div class="container-fluid" >
		<%= render partial: "dayindexheader", locals: {dayindex: @dayindex,dayofweek: @dayofweek, 
																									stage: @stage, previousdayindex: @previousdayindex, nextdayindex: @nextdayindex } %>

		<%= render partial: "stageheader", locals: {dayindex: @dayindex, stage: @stage, 
																								previousstage: @previousstage, nextstage: @nextstage } %>

	</div>
		
	<div class="panel-body">
		<table class="table table-striped">
			<tbody>
				 <%= render partial: "stageperformances", locals: { performances: @performances } %>
			</tbody>
		</table>
	</div>
	<%= render partial: "stageselect", locals: {days: @days, stages: @stages} %>
<% end %>
</div>