<div class="container" >
<% if @stage.nil? %>
	<h2> Unknown Stage</h2>
<% else %>
	
	<% if @dayindex > 0 %>
		<h3>  <%= "Day: #{@dayindex} ( #{@dayofweek} ) " %> </h3>
	<% end %> 
	<div class="panel">
	<div class="panel-heading" id="color-<%= @stage.code %>" ><h4><%= @stage.title %></h4></div>
	<div class="panel-body">
	</div>
	<%= render partial: "stageselect", locals: {days: @days, stages: @stages} %>
<% end %>
</div>