<div class="container" >
<% if @stage.nil? %>
	<h2> Unknown Stage</h2>
<% else %>
	<h2><%= @stage.title %></h2>
	<% if @dayindex > 0 %>
		<h3>  <%= "Day: #{@dayindex} ( #{@dayofweek} ) " %> </h3>
	<% end %> 
	<%= render partial: "stageselect", locals: {days: @days, stages: @stages} %>
<% end %>
</div>