a.bluelink
{
	background:#0087C5;
  color:#fff;
  margin-left: 0.5em;
  margin-right: 0.5e;
  padding-left: 	0.5em;
  padding-right: 0.5em;
  text-decoration:none;
	font-style:italic;
	font-weight:bold;
	border-style: single;
}
a:visited.bluelink {color:black;
	font-size: smaller;
	}
a:hover.bluelink {
		background: black;
}

a.backtotop  {
	margin-top:15em;
	margin-left:20em;
	margin-bottom:0.5em;
	color: blue;
}
